doctype html
html
  !{template('head', page, param)}
  body.fullscreen
    nav
      h1
        a(href=root.url) #{root.title}
      !{template('menu', root, param)}
    !{template('page', page, param)}
