- files = page.files.toArray().sort(function(file1, file2) {
-   var name1 = file1.name;
-   var name2 = file2.name;
-   return /nightly/.test(name1) ? 1 : parseInt(name1.match(/(\d*)$/)[1]) < parseInt(name2.match(/(\d*)$/)[1]);
- });
for file in files
  - version = file.name.split('-')[1]
  if !/^v/.test(version)
    - version = version.charAt(0).toUpperCase() + version.slice(1)
  .download
    .image
        a.nohover(href=file.url)
          img(src="/assets/zip.jpg", width='64', height='64', alt='')
      .float-left
        | Paper.js #{version}
        br
        | Release Date: #{formatDate(versionDate(version, file))}
        br
        a(href=file.url) #{file.filename}
        |  (#{file.humanSize})
      .clear