- files = page.files.toArray().sort(function(file1, file2) {
-   function getVersion(file) {
-      var parts = (file.name.match(/v(\d+\.\d+.\d+)$/) || [,'0.0.0'])[1].split('.');
-      var major = +parts[0];
-      var minor = +parts[1];
-      var patch = +parts[2];
-      return major << 16 | minor << 8 | patch;
-   }
-   return getVersion(file2) - getVersion(file1);
- });
for file in files
  - version = file.name.split('-')[1]
  if !/^v/.test(version)
    - version = version.charAt(0).toUpperCase() + version.slice(1)
  .download
    .image
        a.nohover(href=file.url)
          img(src="/assets/zip.jpg", width='64', height='64', alt='')
      .float-left
        | Paper.js #{version}
        br
        | Release Date: #{formatDate(versionDate(version, file))}
        br
        a(href=file.url)= file.filename
        |  (#{file.humanSize})
      .clear