id = 'thumb-' + page.index
.thumbnail
  .resource
    a.hover(href=page.url)
      thumb = page.files[0]
      if thumb
        monoThumb = thumb.exportThumb({grayscale: true})
        img.normal(src=monoThumb.url, width=monoThumb.width, height=monoThumb.height)
        img.over.hidden(src=thumb.url, width=thumb.width, height=thumb.height)
  .caption
     #{page.title}