groups = page.children.inGroupsOf(2)
#main
  #content.tutorial
    h1 !{page.title}
    each group in groups
      .row
        each category in group
          .column
            h2 #{category.name}
            p.tutorial-overview.small #{category.content}
            ul.tutorial-index
              each tutorial in category.children
                li
                  a(href=tutorial.url) #{tutorial.title}
  .content-end
#right
  !{template('right', page)}